.desktop-view .has-sidebar-page .d-header-wrap::before {
  content: "";
  display: inline;
  width: calc(var(--d-sidebar-width) - 1px);
  height: 4em;
  background-color: var(--sidebar-color);
  border-bottom: 1px solid var(--sidebar-border);
  border-right: 1px solid var(--sidebar-border);
  position: absolute;
}

.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--sidebar-border);
}

.d-header #site-text-logo {
  color: var(--bright-text);
  padding-left: calc(var(--d-sidebar-row-horizontal-padding) / 2);
}

.mobile-view .d-header #site-text-logo {
  font-size: var(--font-0);
  color: var(--primary);
}

.full-page-chat .chat-full-page-header {
  border-top: none;
}

.logo-big {
  max-height: 14px !important;
}

@media (min-width: 1001px) {
  .logo-big {
    max-height: 20px !important;
  }
}

.sidebar-wrapper {
    left: 0 !important;
    position: fixed !important;
}
@media (min-width: 783px) {
    .has-sidebar-page #main-outlet-wrapper {
       padding-left: var(--d-sidebar-width) !important; 
    }   
}

.wrap {
    padding-left: calc(var(--d-sidebar-width) + 1em);
}

.contents {
    display: flex !important;
    gap: 0 !important;    
}

span.header-sidebar-toggle {
    position: fixed;
    left: 0 !important;
    margin: 10px;
}

.d-header .title {
    position: fixed;
    left: 0;
    margin-left: calc(3.7em + 10px);
    height: auto;
}

#main-outlet-wrapper .sidebar-wrapper {
    width: auto;
}
