:root {
  --sidebar-color: var(--primary-50);
  --sidebar-hover: var(--primary-200);
  --bright-text: var(--primary);
  --active-text: var(--secondary);
  --dimmed-text: var(--primary-800);
  --sidebar-border: var(--primary-200);
  --presence-online: var(--success);
  --d-border-radius: 4px;
  --d-border-radius-large: 8px;
  --font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --heading-font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tertiary: #ed7d38 !important;
  --tertiary-hover: #c45612 !important;
  --font-up-1: 14px !important;
  --base-font-size: 14px !important;
  --quaternary: #616161 !important;
  --quaternary-low: #e0e0e0 !important;
}

.sidebar-wrapper .sidebar-sections {
  --scrollbarThumbBg: rgba(var(--primary-rgb), 0.2);
  --scrollbarWidth: 0.35em;
}
